[submodule "lib/isocline"]
	path = lib/isocline
	url = https://github.com/daanx/isocline
[submodule "test/craftinginterpreters"]
	path = test/craftinginterpreters
	url = https://github.com/munificent/craftinginterpreters.git
